p {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: infinite 3s wasted_summer;
}

@keyframes wasted_summer {
    from {
        background-color: whitesmoke;

    }

    to {
        background-color: beige;
    }
}

img {
    width: 200px;
    height: 200px;
    animation: 3s rotate;
}

@keyframes rotate{
    from{
        transform: rotate( 0deg);
    }

    to{
        transform: rotate(60deg);
    }
}
html {
    scroll-behavior: smooth;
}