*{
    top: 0;
    left: 0;
    box-sizing: border-box;
}




div#poster{
    height: 100px;
    width: 160px;
    background-color: mediumseagreen;
    box-shadow: 2px 1px red;
}


div#poster:hover{
    box-shadow: 4px 3px royalblue;
    transform: scale(1.3);
}
img{
    height: 70px;
    width: 160px;
}

p{
    position: absolute;
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text{
    position: relative;
    margin-top: -10px;
}

button{
    left: 15px;
    top: 100px;
    position: absolute;
    box-shadow: 1px 1px red;
} 

button:hover{
    box-shadow: 2px 2px royalblue;
}