img {
    height: 120px;
    width: 120px;
    animation: 3s soaring;
}

ul {
    animation: 3s infinite Bahram;
    background-color: yellow;
}

@keyframes Bahram {
    from {
        background-color: yellow;
    }

    to {
        background-color: pink;
    }
}


@keyframes soaring {
    from {
        transform: matrix(1, 2, -1, 1, 80, 80);
    }
}

div {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}
